.comment{
    text-align: left;
}

.comment span{
    font-size: 20px;
    font-weight: 400;
    color: #6c6c6c;
    margin-left: 10px;
}

.list{
    text-align: left;
    color: black;
    background-color: whitesmoke;
    padding: 3px 0;
}

.list p{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    position: relative;
    margin-left: 10px;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons{
    margin: 0 5px;
    font-size: 15px;
}
